---
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Sidebar />
  <div class="about">
    <h1>Frontier of the Year 2025</h1>
    <div class="text-stone-400 mb-8 text-2xl -mt-2">A human-labelled dashboard of big, real scientific news</div>
    <p>by Gavin Leech, Lauren Gilbert, and Ulkar Aghayeva</p>
    <p>
      <br>A couple of years ago, Gavin became frustrated with science journalism. No one was pulling together results across
      fields; the articles often didn’t link to the original source; they were usually credulous about preliminary
      findings; and they essentially never gave any sense of the magnitude or the baselines “how much better is this treatment than the previous best?”, “what was the sample size?”, “which species was it tested on?” or probabilities for context. Speculative results were covered with the same
      credence as solid proofs. And highly technical fields like mathematics were rarely covered
      at all, regardless of their practical importance. So he <a
        href="https://x.com/g_leech_/status/1731263549182206291" style="color: var(--color-theme);">had a go</a
      > at <a href="https://x.com/g_leech_/status/1864354552520007750" style="color: var(--color-theme);">doing it</a> himself, on Twitter.
    </p>
    <p>
      That’s fine as far as it goes, but this year, thanks to Renaissance Philanthropy, we’re doing it properly. We
      checked systematically for big findings and then scored them with our subjective sense of how solid and impactful
      they could be.
    </p>
    <!--<ul>
      <li>
        <b>It’s plausibly real</b>. The experiment or deployment genuinely happened; it’s not an artefact, p-hacked, or
        pure PR.
      </li>
      <li>
        <b>It plausibly generalises</b>. There’s a believable path toward: replication, scale-up across settings or
        populations, and composability (the result can be used as a building block in larger systems).
      </li>
      <li>
        <b>It bends the curve</b>. A result is Big If True if it would unlock new capability frontiers, flip constraints
        into engineering problems, or create new control knobs for important systems.
      </li>
    </ul>-->
    <p>
      So: how did the world change this year? What happened in each science? Which results are speculative and which are
      solid? Which are the biggest, if true?
    </p>
    <p>
      Our collection of 171 results is <a href="/" style="color: var(--color-theme);">here</a>. You can filter them by field, by our best guess of the probability that they generalise, and by their impact if they do. We also include bad news (in red).
    </p>
    <h2>Who are we?</h2>
    <p>
      We cover a few fields. <a style="color: var(--color-theme);" href="https://gleech.org">Gavin</a> has a PhD in AI and has worked in epidemiology and metascience; <a style="color: var(--color-theme);" href="https://x.com/notanastronomer">Lauren</a> was a
      physicist and is now a development economist; <a style="color: var(--color-theme);" href="https://www.ulkaraghayeva.com/about">Ulkar</a> was a wet-lab biologist and is now a science writer. For other
      domains we had expert help from the <a style="color: var(--color-theme);"
        href="https://www.renaissancephilanthropy.org/big-if-true-science-accelerator">Big If True fellows</a
      >, but mistakes are our own.
    </p>
    <p>
      The design and development of the site is by <a target="_blank" style="color: var(--color-theme)" href="https://webcraft.joodalop.com">
        Judah</a>.
    </p>
    
    <h2>Data fields</h2>
    <br>
    <ul>
      <li>
        <b>Category</b>. e.g. AI | Medicine | Protein design
      </li>
      <br>
      <li>
        <b>P(generalises)</b>. This is how likely we think it is to replicate or generalise, on priors. Preprint
        mathematics from a serious researcher is often around 90%. Preclinical in-vitro drug candidates are, <a
          style="color: var(--color-theme);" href="https://humanspecificresearch.org/the-harsh-reality-of-drug-discovery-and-development/">notoriously</a
        >, more like 8%.
      </li>
      <br>
      <li>
        <b>big | true</b>. Every entry in the list is significant – scientifically, socially, or in delightfulness. But
        we wanted to weight them by impact. The “big if true” field is our guess at how much the entry would change the
        world if it generalised.
        <br><br>
        <ul>
          <li>
            We use Nate Silver’s “<a
              href="https://www.lesswrong.com/posts/oAy72fcqDHsCvLBKz/ai-and-the-technological-richter-scale" style="color: var(--color-theme);">Technology Richter Scale</a
            >”, on which a 4 is something which is commercialisable but not category-defining (like a slightly better
            mousetrap), a 6 is “on the short list for technology of the year” (Post-its, VCRs), and an 8 is on the short
            list for technology of the century (cars, electricity, the internet).
          </li>
          <li>
            This score includes not just the impact of the particular discovery, but also the consequences of the method
            used in the discovery. For instance, the <a style="color: var(--color-theme);" href="https://github.com/math-inc/strongpnt">formalisation</a> of
            the Strong Prime Number Theorem has no particular social impact, but the implications of autoformalising new mathematical
            results and the resulting acceleration of many kinds of research warrants <i>at least</i> a 5 on the scale.
          </li>
        </ul>
      </li>
      <br>
      <li>
        <b>Good/Bad.</b> Basic: on net, whether we expect the first-order effect of this to be positive for the world, or not.
      </li>
    </ul>
    <br>
    <p>
      Our judgments of P(generalises), big | true, and Good/Bad are avowedly subjective. If we got something wrong
      please tell us at <a style="color: var(--color-theme);"href="mailto:gavin@arbresearch.com"
        >gavin@arbresearch.com</a>.
    </p>
    <h2>Acknowledgments</h2>
    <p>
    We thank Alex German, Tim McGee, Eirini Malliaraki, Markus Strasser, Anders Sandberg, Niccolò Zanichelli, Tom McCarthy, Ryan Marinelli, Lucia Asanache, Dron Hazra, Ronit Kanwar, and Paul Crowe for comments.
    </p>
  </div>
</Layout>

<style>
  .about {
    margin-left: calc(20rem + 100px);
    padding: 2rem;
    width: calc(100% - 20rem - 100px);
    max-width: 46rem;
    font-size: 18px;
    line-height: 1.5em;
  }

  @media (max-width: 1024px) {
    .about {
      margin-left: 0px;
      width: 100%;
      padding: 1.2rem;
      font-size: 16px;
    }
  }
</style>
